.answer {
    display: flex;
    min-width: 500px;
    width: 80%;
    height: 100px;
    margin: 10px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}

.value {
    font-size: 1.3rem;
    font-weight: 700;
}

.front {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    color: #000;
    align-items: center;
}

.back > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.right {
    background-color: #2BAA6D;
}

.wrong {
    background-color: #E44A4C;
}
.right .value, .wrong .value{
    font-size: 1.5rem;
}

.front,
.back {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.contentWithAnswer {
    position: relative;
    display: flex;
    flex: 1;
}